/* Global styling */
* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Pink row styling */
.sec-1-background-color {
    background-color: #FFDAB9;
}

/* Logo positioning and size */
.sec-1-logo-postion img {
    width: 15%;
    margin-top: 2.5%;
}

/* Row container styling */
.sec-1-container-row {
    display: flex;
    width: 100%;
    height: auto;
}

/* Text container styling */
.sec-1-text-container {
    width: 65%;
    padding-left: 20px;
    float: right;
}

/* Image container styling */
.sec-1-image-container {
    width: 35%;
    overflow: hidden;
}

/* Image styling */
.sec-1-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Headline text styling */
.sec-1-headline-text {
    margin-top: 15%;
}

/* Headline H1 styling */
.sec-1-headline-text h1 {
    font-size: 4em;
    color: #ED452B;
    margin-bottom: 2.5%;
}

/* Headline P styling */
.sec-1-headline-text p {
    font-size: 2em;
}

/* Circle button styling */
.sec-1-circle-btn {
    background-color: white;
    border-radius: 50px;
    color: black;
    font-size: 16px;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #ED452B;
    border: 2px solid white;
}

/* Button positioning */
.sec-1-btn-postion {
    margin-top: 2.5%;
    margin-bottom: 5%;
}

/* Button hover effect */
.sec-1-circle-btn:hover {
    background-color: orange;
    color: white;
}

/* section 1 ends */










/* section 2 starts  */

/* Section 2 background color styling */
.sec-2-background-color {
    background-color: #ED452B;
    color: #FFDAB9;
}

/* Logo positioning and size */
.sec-2-logo-postion img {
    width: 15%;
}

/* Row container styling */
.sec-2-container-row {
    display: flex;
    width: 100%;
    height: auto;
}

/* Text container styling */
.sec-2-text-container {
    width: 65%;
    margin-left: 5%;
}

/* Image container styling */
.sec-2-image-container {
    width: 35%;
    overflow: hidden;
}

/* Image styling */
.sec-2-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Headline text styling */
.sec-2-headline-text {
    margin-top: 5%;
}

/* Headline H1 styling */
.sec-2-headline-text h1 {
    font-size: 3.8em;
    color: #FFDAB9;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
}

/* Headline P styling */
.sec-2-headline-text p {
    color: #FBEC9D;
}

/* Circle button styling */
.sec-2-circle-btn {
    background-color: white;
    border-radius: 50px;
    color: black;
    font-size: 16px;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    color: #ED452B;
    border: 2px solid white;
}

/* Paragraph positioning and font size */
.sec-2-p-postion {
    margin: 2.5%;
    font-size: 1.5em;
    text-align: center;
}

/* Button hover effect */
.sec-2-circle-btn:hover {
    background-color: orange;
    color: white;
}

/* section 2 ends */






/* section 3 starts */

/* Background color and text color styling for section 3 */
.sec-3-background {
    background-color: #FFDAB9;
    color: #ED452B;
}

/* Headline position and styling */
.sec-3-headline-postion {
    margin-left: 2.5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sec-3-headline-postion h1 {
    font-size: 4em;
}

/* Container and row styling for better alignment and positioning */
.sec-3-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
}

.sec-3-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

/* Image styling for size, spacing, and curved edges */
.sec-3-row-image {
    width: 50%;
    height: 20%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 25px;
}

/* Text square styling for size, background color, alignment, spacing, and curved edges */
.sec-3-text-square-1, .sec-3-text-square-2, .sec-3-text-square-3 {
    width: 50%;
    height: 20%;
    background-color: #ED452B;
    color: #FBEC9D;
    justify-content: center;
    align-items: center;
    text-align: center;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 25px;
}

/* Headings and font styling for the text squares */
.sec-3-text-square-1 h3, .sec-3-text-square-2 h3, .sec-3-text-square-3 h3 {
    margin-top: 20%;
}

.sec-3-text-square-1 h1, .sec-3-text-square-2 h1, .sec-3-text-square-3 h1 {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    color: white;
}

.sec-3-text-square-1 h6, .sec-3-text-square-2 h6, .sec-3-text-square-3 h6 {
    margin-bottom: 20%;
    font-size: 1.5em;
}

/* section 3 ends */





/* Section 4 starts */

/* Main container styling */
.sec-4-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background-color: #ED452B; /* Pink background */
    overflow: hidden;
  }
  
  /* Text container styling */
  .sec-4-text-container {
    width: 50%;
    padding-left: 20px;
    float: left;
    text-align: center;
    margin-top: 5%;
    font-size: 2em;
    color: #FBEC9D;
  }
  
  /* Image container styling */
  .sec-4-image-container {
    width: 50%;
    overflow: hidden;
  }
  
  /* Image styling */
  .sec-4-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Section 4 Container */
  .sec-4-container-row {
    display: flex;
    margin-top: 10%;
    flex-direction: column; /* Updated to 'column' for stacking */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }
  
  /* Text Square Styling */
  .sec-4-text-square-1, .sec-4-text-square-2, .sec-4-text-square-3 {
    background-color: white;
    padding: 2.5% 10%;
    object-fit: cover;
    margin: 0 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    font-size: 0.9em;
  }
  
  /* Last square without bottom margin */
  .sec-4-text-square-3 {
    margin-bottom: 0;
  }

  
  
  /* Section 4 ends */


/* Section 5 starts */

/* Container styling */
.sec-5{
    background-color: #FFDAB9;
    color: #ED452B;
}

.sec-5-header-text-postion{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.sec-5-header-text-postion h1{
    font-size: 3.5em;
}

.sec-5-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5%;
  }
  
  /* Row container styling */
  .sec-5-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  /* Text container styling */
  .sec-5-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 30%;
  }
  
  /* Header text styling */
  .sec-5-text h1 {
    font-size: 2em;
  }

    /* Header text styling */
  .sec-5-text p {
    font-size: 1.4em;
  }

    .sec-5-text h6 {
        margin-top: 2.5%;
    font-size: 1.5em;
  }
  
  /* Section 5 ends */
  
  

/* Section 6 starts */

/* Container with background image */
/* Set up the container for section 6 with a background image and positioning */
.sec-6-container {
background-image: url("section 6 background .png");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
width: 100%;
height: auto;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color: rgba(255, 255, 255, 0.3); /* Adjust the opacity as needed */
}

/* Text box styling /
/* Style the text box within section 6 */
.sec-6-text-box {
background-color: #ED452B; /* Adjust the opacity as needed */
width: 70%; /* Adjust the width as needed */
height: auto; /* Adjust the height as needed */
border-radius: 50px; /* Adjust the border radius as needed */
margin-top: 15%;
margin-bottom: 10%;
margin-left: 10%;
color: #FBEC9D;
margin-right: 10%;
}

/* Style the h1 elements within the text box */
.sec-6-text-box h1{
margin: 0 20%;
font-size: 3em;
}

/* Style the paragraph elements within the text box */
.sec-6-text-box p{
margin: 7.5%;
font-size: 1.5em;
}

/* Section 6 ends */



/* section 7 start /
/ Set the background color and text color for section 7 */
.sec-7 {
    background-color: #ED452B;
    color: #FFDAB9;
    }
    
    /* Style the header text in section 7 */
    .sec-7-header-text {
    margin-left: 5%;
    margin-top: 5%;
    font-size: 2em;
    font: 900;
    }
    
    /* Ensure h1 elements within the header text are bold */
    .sec-7-header-text h1 {
    font: 900;
    }
    
    /* Set the style of emphasized text within the header text */
    .sec-7-header-text em {
    text-decoration: none;
    font-style: normal;
    color: #FBEC9D;
    }
    
    /* Section 7 Container /
    / Configure the layout and sizing of the container row */
    .sec-7-container-row {
    display: flex;
    margin-top: 10%;
    flex-direction: column; /* Updated to 'column' for stacking */
    height: auto;
    width: 50%;
    margin-left: 5%;
    }
    
    /* Text Square Styling /
    / Apply common styles to all text squares within section 7 */
    .sec-7-text-square-1, .sec-7-text-square-2, .sec-7-text-square-3 {
    background-color: white;
    text-align: center;
    object-fit: cover;
    text-align: left;
    margin: 0 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 20px 40px;
    color: black;
    font-size: 1.5em;
    color: #ED452B;
    }
    
    /* section 7 ends */